.layout
{
    padding-top: 70px;
}

.posting
{
    margin-bottom: 20px;
}

.comment
{
    color: #8e9597;
    border: 1px solid #ddd;
}

.comment-header
{
    border-bottom: 1px solid #ddd;
    background-color: #f2f8fa;
}

.comment-header-text
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.comment-content
{
    min-height: 60px;
}

.comment-context-text
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.comment-avator
{
    min-width: 50px;
}

.comment-form-button
{
    padding-top: 5px;

    text-align: right;
}

.comment-form-content
{
    padding: 5px;
}

.social-icon
{
    max-width: 50px;
}

.video-wrap
{
    position: relative;

    overflow: hidden;

    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-top: 69px;
    padding-bottom: 50%;
}

.video-wrap video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.information-box
{
    padding-bottom: 10px;
    color: #8e9597;
}

.btn-coach
{
    text-align: right;
}

.tbody-users tr
{
    cursor:pointer;
}

.front-bg
{
    position: fixed;
}

.front-card
{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.front-image
{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.login-form
{
    background-color: #fcfcfc;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

.register-form
{
    background-color: #fcfcfc;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}