body {
	padding-top: 70px;
}

.posting {
	margin-bottom: 20px;
}

.comment {
	color: #8e9597;
	border: 1px solid #dddddd;
}

.comment_header {
	border-bottom: 1px solid #dddddd;
    background-color: #f2f8fa;
}

.comment_header_text {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.comment_content {
	min-height: 60px;
}

.comment_context_text {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.comment_avator {
	min-width: 70px;
}

.comment_form_button {
	text-align: right;
	padding-top: 5px;
}

.comment_form_content {
	padding: 5px;
}

.social_icon {
	max-width: 50px
}